{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'src/styles.css' %}">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <nav class="py-6 px-8 flex items-center justify-between bg-blue-950">
            <div class="text-2xl font-bold">
            <h1 class="text-xl text-white"><a href="/">AcsServices Projects</a></h1>
            </div>
            <div class="space-x-4">
                {% if user.is_authenticated %}
                <button class="bg-rose-600 hover:bg-rose-700 text-white font-bold py-2 px-4 rounded mr-10"><a href="{% url 'project:projects' %}">Projects</a></button>
                <a href="#" class="text-white font-bold">{{user.username}}</a>
                <a href="{% url 'accounts:logout' %}" class="py-2 px-4 font-bold bg-yellow-300 hover:bg-yellow-400 text-blue-950 rounded mr-10">Log out</a>
                {% else %}
                <a href="#" class="text-white font-bold">Anonymous</a>
                <a href="{% url 'accounts:login' %}" class="py-2 px-4 font-bold bg-yellow-300 hover:bg-yellow-400 text-blue-950 rounded mr-10">Log in</a>
                {% endif %}
            </div>
        </nav>


{% block content %}
{% endblock %}
        <footer class="py-8 px-8 bg-blue-950 text-center">
            <p class="text-white">Copyright {% now "Y" %} - AcsServices</p>
        </footer>
    </body>
</html>