<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <nav class="py-6 px-8 flex items-center justify-between bg-slate-800">
        
            <h1 class="text-xl text-white">AcsServices Projects</h1>

            <div class="space-x-4">
                {% if user.is_authenticated %}
                <a href="#" class="text-white">{{user.username}}</a>
                <a href="{% url 'accounts:logout' %}" class="py-4 px-8 bg-slate-600 text-white">Log out</a>
                {% else %}
                <a href="#" class="text-white">Anonymous</a>
                <a href="{% url 'accounts:login' %}" class="py-4 px-8 bg-slate-600 text-white">Log in</a>
                {% endif %}
                <a href="#" class="py-4 px-8 bg-sky-600 text-white">Sign up</a>
            </div>
        </nav>

        <main class="py-6 px-8">
            <header class="py-12 text-center bg-slate-200">
                <h1 class="text-3xl">Welcome to AcsServices</h1>
            </header>
        </main>
{% block content %}
{% endblock %}
        <footer class="py-8 px-8 bg-slate-900 text-center">
            <p class="text-white">Copyright (c) 2023 - Code With Stein</p>
        </footer>
    </body>
</html>