{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}
        <main class="py-6 px-8">
            <header class="py-12 text-center bg-slate-200">
                <h1 class="text-3xl text-blue-950">Welcome to AcsServices</h1>
                {% if user.is_authenticated %}
                <button class="mt-6 w-96 bg-yellow-300 hover:bg-yellow-400 text-blue-950 font-bold py-2 px-4 rounded "><a href="{% url 'project:projects' %}">Projects</a></button>
                {% else %}
                <button class="mt-6 w-96 bg-yellow-300 hover:bg-yellow-400 text-blue-950 font-bold py-2 px-4 rounded "><a href="#">Projects</a></button>
                {% endif %}
            </header>
        </main>




{% endblock %}