{% extends '_base.html' %}
{% block content %}
    <h1 class="ml-10 mb-6 mt-10 text-3xl">Projects</h1>

    <a href="{% url 'project:add' %}" class="ml-10 py-4 px-8 bg-blue-950 text-white font-bold inline-block rounded">Add project</a>

    <div class="ml-10 mt-6 grid grid-cols-4 gap-4 mb-10">
        {% for project in projects %}
        {% if project.is_completed == True %}
            <div class="py-6 px-6 bg-green-400 rounded">
                {% else %}
                <div class="py-6 px-6 bg-slate-200 rounded">
                    {% endif %}
                <p class="text-md text-slate-600 text-center text-xl font-bold">
                    Project {{ forloop.counter }}
                 </p>
                <a href="{% url 'project:project' project.id %}">
                    <h2 class="mb-4 text-2xl">{{ project.name }}</h2>

                    <p class="text-xl text-slate-600">
                        {{ project.description }}
                    </p>
                </a></br>
                    <p class="text-sm text-slate-600">
                        {{ project.created_at }} from <a href="" class="font-medium"> {{ project.author }}</a>
                    </p>
                    <a href="{% url 'project:edit' project.id %}" class="text-green-700">Edit</a>
                    |
                    <a href="{% url 'project:delete' project.id %}" class="text-red-600">Delete</a>
                    <p class="text-sm text-slate-600">
                        {% if project.is_completed == True %}
                        Status: Completed at: {{ project.completion_date }}
                        {% elif project.is_completed == False %}
                        Status: In progress
                        {% elif project.is_completed == None %}
                        Status: -
                        {% endif %}
                        </p>
                    
                    </div>
        {% endfor %}
    </div>
{% endblock %}